{% extends 'base.html' %}
{% load markdown_extras %}
{% load crispy_forms_filters %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{{ post.title|lower|capfirst }}</h2>
    </div>
    <div class="card-body">
        {% if post.content %}
            <p>{{ post.content|markdown }}</p>
        {% else %}
            <p>{% lorem 3 p %}</p>
        {% endif %}

        {% if post.image %}
            <img src="{{ post.image.url }}"  alt="" width="50" height="50" class="img-fluid"/>
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        Posted by {{ post.author|default:'Anonymous' }} on {{ post.created|date }}
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
        <a href="{% url 'edit-post' pk=post.pk %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'delete-post' pk=post.pk %}" class="btn btn-danger">Delete</a>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="inline-group">
            {% for form in formset %}
                <div class="">
                    {{ form.author|as_crispy_field }}
                    {{ form.content }}
                </div>
                <div class="inline-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Post</button>
                </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}