{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ page_title }}</h1>

    <div class="list-group">
        {% for review in reviews %}
            <a href="{% url 'review:detail' review.pk %}" class="list-group-item list-group-item-action">
                {{ review.author }} - {{ review.rating }}
            </a>
        {% empty %}
            <p class="list-group-item">No reviews yet.</p>
        {% endfor %}
    </div>
{% endblock %}