<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO App</title>
</head>
<body>
    <nav>
        <a href="{% url 'dashboard' %}">Home</a>
        <a href="{% url 'list-categories' %}">Categories</a>
    </nav>
    {% for note in notes %}
        <li>
            <h2>{{ note.title }}</h2>
            <p>{{ note.body }}</p>
            <p>Category: {{ note.category|default:"No Category" }}</p>
        </li>
    {% empty %}
        <h1>No notes yet</h1>
    {% endfor %}
</body>
</html>