{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ page_title }}</h1>

    <div class="list-group">
        {% for destination in destinations %}
            <a href="{% url 'destination:detail' destination.slug %}" class="list-group-item list-group-item-action">
                {{ destination.name }} - ({{ destination.country }})
            </a>
        {% empty %}
            <p class="list-group-item">No destinations found.</p>
        {% endfor %}
    </div>
{% endblock %}